In [1]:
import pyspark.sql.functions as F
from pyspark.sql.functions import *
from  pyspark.sql.functions import abs
from  pyspark.sql.functions import col
import time
from pyspark.sql.types import *

In [2]:
df = spark.read.load('hdfs://orion11:11101/3hr_sample/*',format='csv',sep='\t',inferSchema='true', header='true')

In [3]:
df.limit(5).toPandas()

,1_time,2_lat,3_lon,albedo_surface,precipitable_water_entire_atmosphere_single_layer,pressure_maximum_wind,pressure_surface,pressure_tropopause,relative_humidity_zerodegc_isotherm,snow_depth_surface,temperature_surface,temperature_tropopause,total_cloud_cover_entire_atmosphere_single_layer,total_precipitation_surface_3_hour_accumulation,vegetation_surface,visibility_surface,wilting_point_surface,wind_speed_gust_surface
0,1455440400000,28.862712,-80.155704,6.0,null,17126.896,102390.0,23103.373,35.0,0.0,295.9439,219.42467,null,0.0,0.0,24223.668,0.0,null
1,1455440400000,57.697196,-79.334581,65.0,null,11126.896,101925.0,30303.373,76.0,0.049999997,243.69392,213.04967,null,0.0,0.0,24023.668,0.0,null
2,1455440400000,36.639956,-120.499569,16.0,null,19326.896,100150.0,19703.373,26.0,0.0,282.5689,210.17467,null,0.0,20.5,24223.668,0.1025,null
3,1455440400000,33.129387,-82.595627,15.0,null,14526.896,101385.0,20703.373,52.0,0.0,272.4439,211.42467,null,0.0,41.0,24223.668,0.0275,null
4,1455440400000,47.168122,-119.719137,16.25,null,25126.896,97359.0,21103.373,70.0,0.0,272.8189,214.67467,null,0.0,6.0,23.668581,0.022499999,null

In [4]:
from math import log10

#  Note: the alphabet in geohash differs from the common base32 alphabet described in IETF's RFC 4648
# (http://tools.ietf.org/html/rfc4648)

__base32 = '0123456789bcdefghjkmnpqrstuvwxyz'
__decodemap = dict()
for i in range(len(__base32)):
    __decodemap[__base32[i]] = i


def decode_exactly(geohash):
    """
    Decode the geohash to its exact values, including the error
    margins of the result.  Returns four float values: latitude,
    longitude, the plus/minus error for latitude (as a positive
    number) and the plus/minus error for longitude (as a positive
    number).
    """
    lat_interval, lon_interval = (-90.0, 90.0), (-180.0, 180.0)
    lat_err, lon_err = 90.0, 180.0
    is_even = True
    for c in geohash:
        cd = __decodemap[c]
        for mask in [16, 8, 4, 2, 1]:
            if is_even: # adds longitude info
                lon_err /= 2
                if cd & mask:
                    lon_interval = ((lon_interval[0]+lon_interval[1])/2, lon_interval[1])
                else:
                    lon_interval = (lon_interval[0], (lon_interval[0]+lon_interval[1])/2)
            else:      # adds latitude info
                lat_err /= 2
                if cd & mask:
                    lat_interval = ((lat_interval[0]+lat_interval[1])/2, lat_interval[1])
                else:
                    lat_interval = (lat_interval[0], (lat_interval[0]+lat_interval[1])/2)
            is_even = not is_even
    lat = (lat_interval[0] + lat_interval[1]) / 2
    lon = (lon_interval[0] + lon_interval[1]) / 2
    return lat, lon, lat_err, lon_err


def decode(geohash):
    """
    Decode geohash, returning two float with latitude and longitude
    containing only relevant digits and with trailing zeroes removed.
    """
    lat, lon, lat_err, lon_err = decode_exactly(geohash)
    # Format to the number of decimals that are known
    lats = "%.*f" % (max(1, int(round(-log10(lat_err)))) - 1, lat)
    lons = "%.*f" % (max(1, int(round(-log10(lon_err)))) - 1, lon)
    if '.' in lats: lats = lats.rstrip('0')
    if '.' in lons: lons = lons.rstrip('0')
    return float(lats), float(lons)


def encode(latitude, longitude, precision=12):
    """
    Encode a position given in float arguments latitude, longitude to
    a geohash which will have the character count precision.
    """
    lat_interval = (-90.0, 90.0)
    lon_interval = (-180.0, 180.0)
    geohash = []
    bits = [16, 8, 4, 2, 1]
    bit = 0
    ch = 0
    even = True
    while len(geohash) < precision:
        if even:
            mid = (lon_interval[0] + lon_interval[1]) / 2
            if longitude > mid:
                ch |= bits[bit]
                lon_interval = (mid, lon_interval[1])
            else:
                lon_interval = (lon_interval[0], mid)
        else:
            mid = (lat_interval[0] + lat_interval[1]) / 2
            if latitude > mid:
                ch |= bits[bit]
                lat_interval = (mid, lat_interval[1])
            else:
                lat_interval = (lat_interval[0], mid)
        even = not even
        if bit < 4:
            bit += 1
        else:
            geohash += __base32[ch]
            bit = 0
            ch = 0
    return ''.join(geohash)

In [5]:
def convertToGeoHash(lat, lon):
    return encode(lat, lon,4)

udfConvertToGeoHash = F.udf(convertToGeoHash, StringType())

geohashDf = df.withColumn("5_hash", udfConvertToGeoHash("2_lat", "3_lon"))

In [6]:
geohashDf.limit(5).toPandas()

,1_time,2_lat,3_lon,albedo_surface,precipitable_water_entire_atmosphere_single_layer,pressure_maximum_wind,pressure_surface,pressure_tropopause,relative_humidity_zerodegc_isotherm,snow_depth_surface,temperature_surface,temperature_tropopause,total_cloud_cover_entire_atmosphere_single_layer,total_precipitation_surface_3_hour_accumulation,vegetation_surface,visibility_surface,wilting_point_surface,wind_speed_gust_surface,5_hash
0,1455440400000,28.862712,-80.155704,6.0,null,17126.896,102390.0,23103.373,35.0,0.0,295.9439,219.42467,null,0.0,0.0,24223.668,0.0,null,djph
1,1455440400000,57.697196,-79.334581,65.0,null,11126.896,101925.0,30303.373,76.0,0.049999997,243.69392,213.04967,null,0.0,0.0,24023.668,0.0,null,f4r8
2,1455440400000,36.639956,-120.499569,16.0,null,19326.896,100150.0,19703.373,26.0,0.0,282.5689,210.17467,null,0.0,20.5,24223.668,0.1025,null,9qd2
3,1455440400000,33.129387,-82.595627,15.0,null,14526.896,101385.0,20703.373,52.0,0.0,272.4439,211.42467,null,0.0,41.0,24223.668,0.0275,null,djvk
4,1455440400000,47.168122,-119.719137,16.25,null,25126.896,97359.0,21103.373,70.0,0.0,272.8189,214.67467,null,0.0,6.0,23.668581,0.022499999,null,c26u

In [7]:
def convertToMonth(value):
    return time.strftime('%m', time.localtime(int(value)/1000))

udfConvertToMonth = F.udf(convertToMonth, StringType())

monthDf = geohashDf.withColumn("1_time", udfConvertToMonth("1_time"))
monthDf.limit(5).toPandas()

,1_time,2_lat,3_lon,albedo_surface,precipitable_water_entire_atmosphere_single_layer,pressure_maximum_wind,pressure_surface,pressure_tropopause,relative_humidity_zerodegc_isotherm,snow_depth_surface,temperature_surface,temperature_tropopause,total_cloud_cover_entire_atmosphere_single_layer,total_precipitation_surface_3_hour_accumulation,vegetation_surface,visibility_surface,wilting_point_surface,wind_speed_gust_surface,5_hash
0,02,28.862712,-80.155704,6.0,null,17126.896,102390.0,23103.373,35.0,0.0,295.9439,219.42467,null,0.0,0.0,24223.668,0.0,null,djph
1,02,57.697196,-79.334581,65.0,null,11126.896,101925.0,30303.373,76.0,0.049999997,243.69392,213.04967,null,0.0,0.0,24023.668,0.0,null,f4r8
2,02,36.639956,-120.499569,16.0,null,19326.896,100150.0,19703.373,26.0,0.0,282.5689,210.17467,null,0.0,20.5,24223.668,0.1025,null,9qd2
3,02,33.129387,-82.595627,15.0,null,14526.896,101385.0,20703.373,52.0,0.0,272.4439,211.42467,null,0.0,41.0,24223.668,0.0275,null,djvk
4,02,47.168122,-119.719137,16.25,null,25126.896,97359.0,21103.373,70.0,0.0,272.8189,214.67467,null,0.0,6.0,23.668581,0.022499999,null,c26u

In [8]:
groupedDf = monthDf.groupBy("5_hash","1_time").agg(F.avg("temperature_surface").alias("temperature_surface"),F.avg("relative_humidity_zerodegc_isotherm").alias("relative_humidity_zerodegc_isotherm"),F.avg("pressure_surface").alias("pressure_surface"))

In [9]:
groupedDf.limit(5).toPandas()

,5_hash,1_time,temperature_surface,relative_humidity_zerodegc_isotherm,pressure_surface
0,cbdz,03,269.587053,78.192982,98885.922061
1,95b6,03,295.399960,25.488189,101888.240012
2,9xkh,03,272.791013,73.562500,77616.651554
3,9mue,03,290.076991,28.016216,101159.419546
4,c830,03,270.862677,79.110759,81874.272811

In [10]:
comfortIdxDf = groupedDf.filter(groupedDf.temperature_surface > 293).filter(groupedDf.temperature_surface < 304)\
        .filter(groupedDf.relative_humidity_zerodegc_isotherm < 25).filter(groupedDf.relative_humidity_zerodegc_isotherm > 5)\
        .filter(groupedDf.pressure_surface > 101000).filter(groupedDf.pressure_surface < 102000)

In [11]:
comfortIdxDf.limit(5).toPandas()

,5_hash,1_time,temperature_surface,relative_humidity_zerodegc_isotherm,pressure_surface
0,95n4,10,299.893973,24.636364,101238.664248
1,95v2,10,297.972161,15.514377,101483.772562
2,952z,10,298.949692,18.886792,101472.489645
3,958e,10,298.661261,17.403292,101526.046621
4,9kdx,10,295.254002,15.789773,101495.515256

In [12]:
#temperature_surface (298 - a)
#relative_humidity_zerodegc_isotherm (15 - b)
#pressure_surface(101500 - c)
# from  pyspark.sql.functions import *
from  pyspark.sql.functions import abs

def getComfortIndex(temperature_surface, relative_humidity_zerodegc_isotherm, pressure_surface):
    if temperature_surface < 298:
        x = 298 - temperature_surface
    else:
        x = temperature_surface -298
        
    if relative_humidity_zerodegc_isotherm < 15:
        y = 15 - relative_humidity_zerodegc_isotherm
    else:
        y = relative_humidity_zerodegc_isotherm -15
        
    if pressure_surface < 101500:
        z = 101500 - pressure_surface
    else:
        z = pressure_surface -101500
    
    return (x + y + z)/3

udfConvertToComfortIndex = F.udf(getComfortIndex, StringType())

# label is the comfort index
comfortIndexPreMLDf = comfortIdxDf.withColumn("label", udfConvertToComfortIndex("temperature_surface", "relative_humidity_zerodegc_isotherm","pressure_surface"))

In [13]:
comfortIndexPreMLDf.limit(5).toPandas()

,5_hash,1_time,temperature_surface,relative_humidity_zerodegc_isotherm,pressure_surface,label
0,9h78,01,294.452656,23.495050,101995.828162,169.29018509351368
1,d7sg,01,300.251162,18.260870,101680.127528,61.879853467119574
2,d7gv,01,300.146123,19.618421,101758.587022,88.45052201754335
3,9ejs,01,301.055458,23.722022,101357.754852,51.340875896514056
4,d6xv,01,300.708492,10.327913,101493.586211,4.598122393859918

In [14]:
comfortIndexPreMLDf.columns[2:-1]

['temperature_surface',
 'relative_humidity_zerodegc_isotherm',
 'pressure_surface']

In [15]:
# ML Analysis begins here

In [16]:
for col_name in comfortIndexPreMLDf.columns[2:]:
    comfortIndexPreMLDf3 = comfortIndexPreMLDf.withColumn(col_name,col(col_name).cast('float'))

In [17]:
comfortIndexPreMLDf3.limit(5).toPandas()

,5_hash,1_time,temperature_surface,relative_humidity_zerodegc_isotherm,pressure_surface,label
0,9kts,12,293.521624,20.829932,101738.396786,82.901695
1,d5de,12,301.269737,24.305921,101600.328526,37.634727
2,95ys,12,295.523142,20.266667,101838.426671,115.390068
3,9k94,12,293.576559,19.700000,101964.923307,158.015579
4,9krm,12,295.818871,18.223837,101607.346228,37.583733

In [18]:
comfortIndexPreMLDf3.dtypes

[('5_hash', 'string'),
 ('1_time', 'string'),
 ('temperature_surface', 'double'),
 ('relative_humidity_zerodegc_isotherm', 'double'),
 ('pressure_surface', 'double'),
 ('label', 'float')]

In [19]:
from pyspark.ml import Pipeline
from pyspark.ml.regression import LinearRegression
from pyspark.ml.evaluation import BinaryClassificationEvaluator
from pyspark.ml.feature import HashingTF, Tokenizer, VectorAssembler
from pyspark.ml.tuning import CrossValidator, ParamGridBuilder

In [20]:
comfortIndexPreMLDf3.columns

['5_hash',
 '1_time',
 'temperature_surface',
 'relative_humidity_zerodegc_isotherm',
 'pressure_surface',
 'label']

In [21]:
comfortIndexPreMLDf3.columns[2:-1]

['temperature_surface',
 'relative_humidity_zerodegc_isotherm',
 'pressure_surface']

In [22]:
vectorAssembler = VectorAssembler(inputCols=comfortIndexPreMLDf3.columns[2:-1], outputCol="features")
df_tr = vectorAssembler.transform(comfortIndexPreMLDf3)

In [23]:
train, test = df_tr.randomSplit([0.8, 0.2])

In [24]:
lr = LinearRegression(featuresCol="features",labelCol="label")

In [25]:
#from pyspark.ml.linalg import Vectors, VectorUDT

In [26]:
model = lr.fit(train)

In [27]:
evaluation_summary = model.evaluate(test)

In [28]:
evaluation_summary

In [29]:
df_tr = df_tr.select(['features','label'])
df_tr.show(3)

+--------------------+---------+
|            features|    label|
+--------------------+---------+
|[294.452655940594...|169.29019|
|[300.251162408026...|61.879852|
|[300.146123070175...| 88.45052|
+--------------------+---------+
only showing top 3 rows

In [30]:
predictions = model.transform(test)

In [31]:
predictions.select(predictions.columns[2:]).show()

+-------------------+-----------------------------------+------------------+---------+--------------------+------------------+
|temperature_surface|relative_humidity_zerodegc_isotherm|  pressure_surface|    label|            features|        prediction|
+-------------------+-----------------------------------+------------------+---------+--------------------+------------------+
| 296.22063469453377|                 16.177419354838708|101923.21336977495|142.05672|[296.220634694533...|111.92702392093997|
| 296.71955547101464|                 12.384057971014492|101853.76842753626| 119.2216|[296.719555471014...| 94.04187596494194|
| 298.46329262135924|                  24.41747572815534| 101505.2668867314| 5.049218|[298.463292621359...|58.459319863150085|
| 297.64160194346294|                   21.5354609929078|101599.75398939928|35.549282|[297.641601943462...| 69.82517927896333|
|  297.1748498310811|                 22.408783783783782|101705.24762500002| 71.16052|[297.174849831081...| 87.93697620335297|
|  296.8901088850174|                  21.05944055944056| 101500.0001358885|2.3898225|[296.890108885017...| 56.98801938623001|
| 299.54940818584066|                  18.75221238938053|101303.93688053089| 67.12158|[299.549408185840...| 16.61905971123997|
|  297.9721608945686|                 15.514376996805112|101483.77256230034|5.5898848|[297.972160894568...|42.040685030642635|
|        294.8797725|                 14.097014925373134|101850.22715298507|118.08346|[294.8797725,14.0...|102.10367778039472|
|  294.9218261165048|                 22.915857605177994|101920.59958899676|143.86455|[294.921826116504...| 126.8220729473287|
|  298.1120823715414|                 24.968379446640316|101533.08573913043|14.388734|[298.112082371541...| 64.47879812701831|
|  298.2805084166667|                 20.283333333333335|101386.69748749999| 39.62212|[298.280508416666...| 35.04321678540873|
|  295.5231421904762|                 20.266666666666666|101838.42667142859|115.39007|[295.523142190476...|108.69221351056149|
| 298.87458547263685|                 23.587064676616915|101347.05915422887|54.134167|[298.874585472636...| 32.99339826902178|
|   296.353952807571|                 18.312302839116718|101644.40405047315|49.787468|[296.353952807571...| 74.88649550474292|
| 296.19148842592597|                  24.04320987654321|101269.21573148147| 80.54533|[296.191488425925...|30.869796238062918|
| 301.05545801444043|                  23.72202166064982|101357.75485198559|51.340878|[301.055458014440...| 27.98460745482589|
|   295.681796935484|                 16.496774193548386|101980.63557096773|161.48352|[295.681796935484...|122.41019656068966|
|  294.4526559405941|                 23.495049504950494|101995.82816171617|169.29019|[294.452655940594...|140.08862909830714|
| 296.71685026548687|                 13.189427312775331|101562.35124336283| 21.81499|[296.716850265486...| 53.38966538167733|
+-------------------+-----------------------------------+------------------+---------+--------------------+------------------+
only showing top 20 rows

In [32]:
predictionsDf = predictions.select(predictions.columns[2:])

In [33]:
predictionsDf.dtypes

[('temperature_surface', 'double'),
 ('relative_humidity_zerodegc_isotherm', 'double'),
 ('pressure_surface', 'double'),
 ('label', 'float'),
 ('features', 'vector'),
 ('prediction', 'double')]

In [34]:
predictions.limit(10).toPandas()

,5_hash,1_time,temperature_surface,relative_humidity_zerodegc_isotherm,pressure_surface,label,features,prediction
0,8gzy,12,296.220635,16.177419,101923.213370,142.056717,"[296.2206346945337, 16.177419354838708, 101923...",111.927024
1,8uz3,09,296.719555,12.384058,101853.768428,119.221603,"[296.71955547101464, 12.384057971014492, 10185...",94.041876
2,94vd,01,298.463293,24.417476,101505.266887,5.049218,"[298.46329262135924, 24.41747572815534, 101505...",58.459320
3,9502,05,297.641602,21.535461,101599.753989,35.549282,"[297.64160194346294, 21.5354609929078, 101599....",69.825179
4,957j,12,297.174850,22.408784,101705.247625,71.160522,"[297.1748498310811, 22.408783783783782, 101705...",87.936976
5,95mr,06,296.890109,21.059441,101500.000136,2.389822,"[296.89010888501747, 21.05944055944056, 101500...",56.988019
6,95q7,10,299.549408,18.752212,101303.936881,67.121582,"[299.54940818584066, 18.75221238938053, 101303...",16.619060
7,95v2,10,297.972161,15.514377,101483.772562,5.589885,"[297.9721608945686, 15.514376996805112, 101483...",42.040685
8,95vk,04,294.879772,14.097015,101850.227153,118.083458,"[294.8797724999999, 14.097014925373134, 101850...",102.103678
9,95vw,01,294.921826,22.915858,101920.599589,143.864548,"[294.92182611650486, 22.915857605177994, 10192...",126.822073

In [50]:
predictions.filter(col("prediction") > 0).orderBy("prediction").limit(50).toPandas()

,5_hash,1_time,temperature_surface,relative_humidity_zerodegc_isotherm,pressure_surface,label,features,prediction
0,d59p,03,302.253561,21.873720,101213.002048,99.375076,"[302.2535606122449, 21.87372013651877, 101213....",0.316200
1,d595,02,299.489860,14.224138,101243.159142,86.368858,"[299.48986025862064, 14.224137931034482, 10124...",0.493028
2,d7c2,12,299.114679,19.547170,101173.996596,110.555084,"[299.1146791698113, 19.547169811320753, 101173...",0.566266
3,9s0k,10,300.366827,24.282486,101146.269633,121.793228,"[300.3668269209039, 24.282485875706215, 101146...",0.576066
4,9gr7,02,300.468413,17.326923,101232.086224,90.903038,"[300.4684128205127, 17.326923076923077, 101232...",1.030939
5,9krx,10,297.766653,19.037618,101156.214085,116.018959,"[297.7666534482759, 19.037617554858933, 101156...",1.341473
6,9mu9,10,294.313441,18.353933,101092.581843,138.152878,"[294.31344112359557, 18.353932584269664, 10109...",1.758056
7,9mx5,11,293.287542,21.047059,101041.966565,156.264313,"[293.2875415294117, 21.04705882352941, 101041....",2.140748
8,9s2s,11,296.013142,24.889610,101056.293636,151.860947,"[296.01314220779216, 24.88961038961039, 101056...",2.145625
9,9gnm,03,300.484448,24.010811,101163.775432,115.906609,"[300.4844477837838, 24.01081081081081, 101163....",2.280823
10,d7k1,02,300.743332,13.903226,101286.679238,72.386955,"[300.7433318145161, 13.903225806451612, 101286...",2.336440
11,9scm,11,296.177287,23.858065,101074.561355,145.373138,"[296.17728716129034, 23.858064516129033, 10107...",2.548539
12,9mx4,04,294.449702,19.380328,101089.846039,139.361526,"[294.44970196721306, 19.380327868852458, 10108...",2.651964
13,d70t,02,300.383702,14.399160,101276.095227,75.629768,"[300.3837019747899, 14.399159663865547, 101276...",2.755189
14,9s2n,10,298.568487,24.150000,101127.046727,127.557251,"[298.56848690909095, 24.15, 101127.0467272727]",3.171462
15,9kpy,10,299.541001,22.720222,101164.635925,114.875099,"[299.54100138504157, 22.7202216066482, 101164....",3.183799
16,9krz,10,298.069967,22.488372,101137.631767,123.308861,"[298.0699673953488, 22.488372093023255, 101137...",3.475081
17,9mx1,04,294.031559,17.255208,101112.018427,131.401733,"[294.03155859375005, 17.255208333333332, 10111...",3.603127
18,9s25,10,298.886127,22.062016,101161.905698,115.347481,"[298.8861266279068, 22.06201550387597, 101161....",3.727229
19,9kx4,10,297.655124,17.875486,101187.270553,105.316605,"[297.6551243190661, 17.875486381322958, 101187...",4.226401
20,d5yu,04,300.482556,24.460123,101172.065098,113.292526,"[300.48255555214723, 24.460122699386503, 10117...",4.230789
21,9mx0,04,293.996561,17.527378,101112.638899,131.297302,"[293.99656063400573, 17.527377521613833, 10111...",4.255145
22,d78b,04,301.925716,23.219595,101218.430199,97.905037,"[301.9257157432432, 23.219594594594593, 101218...",4.361443
23,9kx2,10,297.651839,19.384906,101172.000902,110.910721,"[297.65183943396227, 19.38490566037736, 101172...",4.552738
24,d7jm,03,300.244786,16.770186,101259.190398,81.608192,"[300.2447860248448, 16.770186335403725, 101259...",4.703987
25,9kyd,11,295.104037,19.801724,101113.548500,131.383057,"[295.104037025862, 19.801724137931036, 101113....",4.738165
26,9mr7,04,294.082905,16.000000,101137.421022,122.498688,"[294.08290462686574, 16.0, 101137.42102238808]",5.011903
27,9kpc,10,299.568524,24.201258,101165.070104,115.233223,"[299.56852364779866, 24.20125786163522, 101165...",5.630578
28,9gnw,03,302.115488,24.026239,101222.307676,96.944687,"[302.11548769679297, 24.026239067055393, 10122...",5.675868
29,9grw,02,300.994853,17.524138,101277.211910,76.102364,"[300.9948534482759, 17.52413793103448, 101277....",6.228495
30,d5c3,04,303.356691,24.714754,101245.254328,89.939041,"[303.3566907868853, 24.714754098360658, 101245...",6.275300
31,9sh9,04,298.417265,23.555891,101152.833169,118.713326,"[298.4172651057401, 23.555891238670696, 101152...",6.367313
32,9mqw,04,293.925361,16.634259,101136.180028,123.176292,"[293.92536050925935, 16.63425925925926, 101136...",6.380144
33,d7c2,02,299.449366,12.082524,101308.560558,65.268761,"[299.4493659223301, 12.08252427184466, 101308....",6.474261
34,9mu9,06,293.458899,21.086364,101078.264274,144.121063,"[293.4588991479822, 21.086363636363636, 101078...",6.905717
35,9kpx,10,299.208127,22.626316,101184.599200,108.078415,"[299.20812731578957, 22.626315789473683, 10118...",6.938789
36,9mrj,04,293.657589,17.483271,101126.404870,126.806938,"[293.65758877323424, 17.483271375464685, 10112...",7.218871
37,9sc4,04,295.125172,16.860182,101168.051456,112.227852,"[295.1251723100304, 16.86018237082067, 101168....",7.623152
38,9ghy,02,297.544643,15.132911,101240.675509,86.637589,"[297.54464306962024, 15.132911392405063, 10124...",7.693816
39,9krp,10,297.588761,22.415584,101157.509429,116.772469,"[297.5887614935065, 22.415584415584416, 101157...",7.713780
40,9krr,10,297.765084,20.812721,101180.213092,108.611511,"[297.765083957597, 20.812720848056536, 101180....",7.765537
41,9krt,10,297.854296,23.130435,101155.449466,117.608894,"[297.8542955900622, 23.130434782608695, 101155...",7.783961
42,9kwc,10,297.252875,18.039267,101201.543812,100.747528,"[297.2528746858639, 18.039267015706805, 101201...",7.806496
43,9s5h,04,297.026831,19.706667,101178.056120,109.207909,"[297.02683133333323, 19.706666666666667, 10117...",7.903820
44,9s9z,04,295.542573,19.096639,101153.497202,117.685623,"[295.5425731092438, 19.096638655462186, 101153...",7.958001
45,dhh3,04,300.711981,24.454902,101202.945467,103.073807,"[300.7119808235295, 24.454901960784312, 101202...",7.960274
46,dd9f,02,300.256800,6.157895,101406.684211,34.804897,"[300.25679999999994, 6.157894736842105, 101406...",8.229246
47,9s6h,04,296.627645,20.509934,101162.567464,114.771606,"[296.62764450331116, 20.509933774834437, 10116...",8.251023
48,d7r0,01,299.628073,14.347692,101299.890342,67.463348,"[299.62807316923073, 14.347692307692308, 10129...",8.446654
49,9s9n,04,295.440948,17.407547,101176.866717,109.366631,"[295.44094773584897, 17.40754716981132, 101176...",8.825462